fastapi
uvicorn[standard]
websockets
SpeechRecognition
sounddevice
scipy
numpy
pyautogui
keyboard
google-generativeai
google-genai
openai
anthropic
pyperclip
chromadb
flask-cors==4.0.0

# Mizune v8.0 Added Dependencies
pure-python-adb>=0.3.0
websockets>=12.0
pytesseract>=0.3.10
faster-whisper
playwright
pyaudio
requests
Pillow
pyscreeze
pygetwindow
pywin32
edge-tts
deepface
opencv-python
mediapipe
python-gitlab
psutil
torch
python_speech_features
fastdtw
deepfilternet
torchaudio
watchdog
traceroot>=0.1.0
langchain-openai
